<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Focus Production | Photo Competition</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fileinput.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-narrow-jumbotron.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fileinput.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/users/register">Register</a></li>
                </ul>
            </nav>
            <h3 class="text">Photography Competition</h3>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}}
                
                {{{body}}}
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2017 Focus Production</p>
        </footer>
    </div>
</body>

</html>