<h3 class="page-header text-muted">About the competition</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt vehicula tempus. Curabitur convallis lacus nibh, sed
    vehicula lacus sagittis nec. Aliquam purus eros, facilisis vitae enim nec, tempus egestas sem. Proin eget facilisis justo,
    sit amet consectetur orci. In hac habitasse platea dictumst. Donec porttitor felis sed rutrum viverra. Nunc ut eros non
    justo faucibus cursus sit amet nec tellus. Phasellus risus dolor, luctus ac libero feugiat, lobortis faucibus lorem.
    Nunc auctor magna et quam ornare, ut viverra neque pretium. Ut eu erat eget lectus auctor maximus eget eu risus. Quisque
    rhoncus ut quam at mattis. Sed lobortis lectus risus, et dapibus erat rhoncus nec. Proin congue condimentum enim vitae
    euismod. Duis vitae elit at lacus hendrerit ultrices. Pellentesque vehicula ultrices lacus et pulvinar. Maecenas tristique
    fringilla magna eget maximus. Integer convallis ligula a nibh consectetur, eu suscipit ligula porttitor. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse commodo tincidunt odio sit
    amet convallis. Phasellus posuere turpis urna. Curabitur suscipit nisi ut justo congue, eget tincidunt leo ultrices.
    Quisque pellentesque nec neque at commodo. Sed facilisis nisi eu ornare vehicula. Duis magna lorem, efficitur at dictum
    sit amet, hendrerit eu nunc. Etiam bibendum neque a ipsum faucibus dignissim.</p>

<h3 class="page-header text-muted">Rules</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt vehicula tempus. Curabitur convallis lacus nibh, sed
    vehicula lacus sagittis nec. Aliquam purus eros, facilisis vitae enim nec, tempus egestas sem. Proin eget facilisis justo,
    sit amet consectetur orci. In hac habitasse platea dictumst. Donec porttitor felis sed rutrum viverra. Nunc ut eros non
    justo faucibus cursus sit amet nec tellus. Phasellus risus dolor, luctus ac libero feugiat, lobortis faucibus lorem.
    Nunc auctor magna et quam ornare, ut viverra neque pretium. Ut eu erat eget lectus auctor maximus eget eu risus. Quisque
    rhoncus ut quam at mattis. Sed lobortis lectus risus, et dapibus erat rhoncus nec. Proin congue condimentum enim vitae
    euismod. Duis vitae elit at lacus hendrerit ultrices. Pellentesque vehicula ultrices lacus et pulvinar. Maecenas tristique
    fringilla magna eget maximus. Integer convallis ligula a nibh consectetur, eu suscipit ligula porttitor. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse commodo tincidunt odio sit
    amet convallis. Phasellus posuere turpis urna. Curabitur suscipit nisi ut justo congue, eget tincidunt leo ultrices.
    Quisque pellentesque nec neque at commodo. Sed facilisis nisi eu ornare vehicula. Duis magna lorem, efficitur at dictum
    sit amet, hendrerit eu nunc. Etiam bibendum neque a ipsum faucibus dignissim.</p>

